<div class="widget widget_search">
    <form class="navbar-form" action="/keyword" method="post">
        <div class="input-group">
            <input type="text" name="keyword" class="form-control" size="35" placeholder="请输入关键字" maxlength="15" autocomplete="off">
            <span class="input-group-btn">
            <button class="btn btn-default btn-search" name="search" type="submit">搜索</button>
            </span> </div>
    </form>
</div>
<div class="widget widget_sentence">
    <h3>每日一句</h3>
    <div class="widget-sentence-content">
        <h4><#if good?exists>${good.date}</#if></h4>
        <p><#if good?exists><#if good.engContent?exists>${good.engContent}</#if></#if><br />
    <#if good?exists>${good.chiContent}（${good.author}）</#if></p>
</div>
</div>
<div class="widget widget_hot">
    <h3>热门文章</h3>
    <ul>
        <#if topList?exists>
        <#list topList as top>
        <li><a href="/article/${top.contentId}.html">
            <span class="thumbnail"><img class="thumb" data-original="${top.imgurl}" src="${top.imgurl}" alt=""></span>
            <span class="text">${top.title}</span>
            <span class="muted"><i class="glyphicon glyphicon-time"></i> ${top.createDate} </span>
            <span class="muted"><i class="glyphicon glyphicon-eye-open"></i> ${top.click}</span></a></li>
    </#list>
</#if>
</ul>
</div>